/* Regole Generali */
body {
    margin-top: -20px;
    font-family: 'Roboto', sans-serif;
}

img {
  width: 100%;
}
/* Fine Regole Generali */

/* INIZIO HEADER */
.my_navbar .my_logo {
    line-height: 80px;
}
.my_logo img {
    width: 250px;
}
.my_navbar .my_burger i {
    color: #3A8AFF;
    font-size: 29px;
    line-height: 80px;
}
.my_navbar .my_menu .my_list {
    line-height: 80px;
    margin-top: 3px;
}
.my_navbar .my_menu a {
    color: black;
    font-size: 18px;
}
.my_navbar .my_menu .my_btn_sign {
    color: #006AFF;
    border: 1px solid #006AFF;
    border-radius: 4px;
}
.my_navbar .my_menu i {
    margin-left: 2px;
}

/* FINE HEADER */

/* INIZIO MAIN */
/* Inizio Jumbotron */
#my_jumbo {
    background-image: url("../img/bg-home-1-d54581d7.jpg");
    background-size: cover;
    padding: 65px 0;
}
.title_jumbo h2 {
    color: white;
    font-size: 63px;
}
.title_jumbo p {
    color: #BBCDFF;
    font-size: 23px;
}
.form_jumbo .my_form {
    background-color: white;
    text-align: center;
    border-radius: 10px;
    padding: 22px 18px;
}
.form_jumbo .my_form h3 {
    font-size: 27px;
    margin-bottom: 0;
}
.form_jumbo .my_form span {
    display: inline-block;
    color: #006AFF;
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 5px;
}
.form-group .my_mail {
    padding: 22px 8px;
}
.my_btn_account {
    background-color: #579AFF;
    height: 40px;
    border: none;
    color: white;
    font-size: 15px;
}
.my_btn_google {
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: #626262;
}
.form_jumbo p {
    font-size: 12px;
    margin-top: 10px;
}
.form_jumbo p > a {
    text-decoration-line: revert;
    color: #006AFF;
}
/* Fine Jumbotron */
/* Inizio Partnership  */
#my_partner {
    background-color: #f3f5f9;
    padding: 50px 0;
    text-align: center;
}
.my_brand h4 {
    text-transform: uppercase;
    color: #6f7b97;
    font-size: 17px;
}
.my_brand li {
    width: calc(98% / 6);
}
.my_brand a {
    font-size: 17px;
    margin-right: 10px;
    color: #006aff;
}
.my_brand i {
    color: #006aff;
}
@media screen and (max-width: 991px) {
    .my_brand li {
        width: 47%
    }
}
/* Fine Partnership  */
/* Inizio Info Tecniche */
.my_info {
    text-align: center;
    padding: 67px 0;
}
.my_info h3 {
    font-size: 39px;
    color: #031c4e;
}
.my_info p {
    font-size: 23px;
    color: #5c6a88;
}
.my_info .my_row {
    padding: 47px 0 0 0;
}
.my_info_list {
    padding: 0 88px;
}
.my_list_general {
    border-left: 2px solid #cccccc;
}
.my_list_general li {
    margin: 25px 0 25px 20px;
    text-align: left;
}
.my_list_general li a {
    color: #75809a;
    font-size: 21px;
}
.my_info_general img {
    height: 41px;
    width: auto;
    text-align: left;
    margin-bottom: 14px;
}
.my_info_general h5 {
    font-size: 20px;
    color: #031c4e;
}
.my_info_general p {
    font-size: 16px;
    color: #5c6a88;
}
@media screen and (max-width: 991px) {
    .my_info_list {
        padding: 20px 0;
    }
}
/* Fine Info Tecniche */
/* Inizio Developer */
.my_dev {
    padding: 67px 0;
    text-align: center;
    background-color: #f3f5f9;
}
.my_dev h3 {
    font-size: 39px;
    color: #031c4e;
}
.my_dev .container p {
    font-size: 23px;
    color: #5c6a88;
}
.my_dev_img {
    padding: 67px 0 20px 0;
    width: 100%;
}
.my_dev_img img {
    width: 54%;
}
.my_dev_img i {
    font-size: 35px;
    color: #031c4e;
    margin: 0 10px;
}
.my_dev p {
    color: #031c4e;
    font-size: 16px;
}
.my_dev li {
    font-size: 12px;
    color: #006aff;
    padding: 0 2px;
}
@media screen and (max-width: 991px) {
    .my_dev .my_dev_img i {
        display: none;
    }
}
/* Fine Developer */
/* Inizio Customer */
#customer {
    background-color: #0025a0;
    text-align: center;
}
.my_service {
    padding: 67px 0;
}
.my_service h3 {
    font-size: 39px;
    color: white;
    margin-bottom: 27px;
}
.my_service .my_first_cell {
    color: white;
}
.my_service .my_second_cell {
    color: #bbc7e8;
}
.my_service .my_third_cell {
    text-align: right;
}
.my_service .my_third_cell a {
    color: #00d7d2;
}
.table > tbody > tr.my_first_row > td {
    border-top: none;
}
/* Fine Customer */
/* Inizio Rockerbox */

.my_rocker_logo {
    display: inline-block;
    width: 54%;
}
.my_rocker_img {
    height: 400px;
    background-color: white;
    padding: 75px 0;
}
.my_rocker_img img {
    width: 330px;
}
.my_rocker_img .my_address_1 {
    display: block;
    font-weight: bold;
    font-size: 16px;
}
.my_rocker_img .my_address_2 {
    display: block;
    font-size: 16px;
    margin-bottom: 35px;
}
.my_rocker_img a {
    color: #006aff;
    font-size: 17px;
}
@media screen and (max-width: 991px) {
    .my_rocker_img {
        padding-top: 40px;
    }
    .my_rocker_img img {
        width: 100%;
    }
}
/* Fine Rockerbox */

/* FINE MAIN */
